abstract-rendering==0.5.1
alabaster==0.7.3
anaconda-client==1.0.1
appnope==0.1.0
appscript==1.0.1
argcomplete==0.9.0
astropy==1.0.4
Babel==1.3
basemap==1.0.7
bcolz==0.10.0
beautifulsoup4==4.3.2
bitarray==0.8.1
blaze==0.8.2
blz==0.6.2
bokeh==0.9.2
boto==2.38.0
bz2file==0.98
cached-property==1.2.0
certifi==14.5.14
cffi==1.1.2
chardet==2.3.0
chest==0.2.3
click==4.0
clyent==0.4.0
colorama==0.3.3
conda==3.18.3
conda-build==1.16.0
conda-env==2.4.2
configobj==5.0.6
costcla==0.4
cryptography==0.9.3
csvkit==0.9.1
Cython==0.23
cytoolz==0.7.3
dask==0.7.0
datashape==0.4.6
decorator==4.0.4
dill==0.2.4
docopt==0.6.2
docutils==0.12
ecdsa==0.13
engarde==0.3.1
Fabric==1.10.2
fastcache==1.0.2
Flask==0.10.1
funcsigs==0.4
gensim==0.12.2
gnureadline==6.3.3
graphviz==0.4.6
greenlet==0.4.7
h5py==2.5.0
HeapDict==1.0.0
html5lib==0.999999
httpretty==0.8.6
hypothesis==1.10.1
idna==2.0
ipdb==0.8.1
ipykernel==4.1.0
ipython==3.1.0
ipython-genutils==0.1.0
ipywidgets==4.0.3
itsdangerous==0.24
jdcal==1.0
jedi==0.8.1
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
Keras==0.1.1
Lasagne==0.1.dev0
livereload==2.4.0
llvmlite==0.6.0
locket==0.2.0
lockfile==0.10.2
luigi==1.3.0
lxml==3.4.4
Markdown==2.6.2
markdown2==2.3.0
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.7.1
mkdocs==0.14.0
mock==1.3.0
multipledispatch==0.4.8
nbconvert==4.0.0
nbformat==4.0.1
networkx==1.10
nltk==3.0.4
nose==1.3.7
notebook==4.0.6
numba==0.20.0
numexpr==2.4.3
numpy==1.10.1
odo==0.3.3
openpyxl==2.2.0b1
pandas==0.17.0
paramiko==1.15.2
partd==0.3.2
path.py==0.0.0
patsy==0.4.0
pbr==1.3.0
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
Pillow==2.9.0
ply==3.6
psutil==2.2.1
psycopg2==2.6.1
ptyprocess==0.4
PuLP==1.6.0
py==1.4.30
pyasn1==0.1.7
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
pyea==0.1
PyExecJS==1.1.0
pyflakes==0.9.2
Pygments==2.0.2
pymc==2.3.4
pymc3==3.0
pyOpenSSL==0.15.1
pyparsing==2.0.3
PyReact==0.5.2
pytest==2.7.2
python-daemon==2.0.5
python-dateutil==2.4.2
pytz==2015.6
pyxley==0.0.1
PyYAML==3.11
pyzmq==14.6.0
qtconsole==4.1.0
redis==2.10.3
requests==2.8.1
rodeo==0.2.4
rope-py3k==0.9.4.post1
runipy==0.1.3
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.16.0
seaborn==0.6.0
simplegeneric==0.8.1
six==1.10.0
smart-open==1.3.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.5.2
SQLAlchemy==1.0.8
statsmodels==0.6.1
sympy==0.7.6
tables==3.2.0
terminado==0.5
Theano==0.7.0
toolz==0.7.4
tornado==4.2.1
traitlets==4.0.0
ujson==1.33
Werkzeug==0.10.4
wheel==0.26.0
wordcloud==1.1.3
xgboost==0.40
xlrd==0.9.4
XlsxWriter==0.7.3
xlwings==0.3.6
